# ---- 1. Variables de entorno ----
.env

# ---- 2. Binarios compilados localmente ----
backend/binario-backend
backend/project
backend/project.exe

# ---- 3. Imagenes o Archivos pesados ----
backend/images
backend/files
